<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0; }
      #map { height: 275px; width:450px;}
    </style>
  </head>

  <body id="usershow">
	<div id="user-show-background"> <img src="http://wallpaper.pickywallpapers.com/1920x1080/concert.jpg" alt=""></div><!--user-show_background-->
	<div class="headercontainer">
	<div id="show-header">
 	<div id="map"></div>
 	 <div id="event-info">
	<h2><%=@single['venue']['name']%></h2>
	<h3><%=@single['venue']['city']%>, <%=@single['venue']['region']%></h3>
	<h4><%=@the_date%></h4>
	</div>
	</div>

	<script type="text/javascript">

    var map;

    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat:parseFloat($.cookie("lat")), lng:parseFloat($.cookie("long"))},
        zoom: 12
      });


    var marker = new google.maps.Marker({
			 position: {lat:<%=@single['venue']['latitude']%>, lng:<%=@single['venue']['longitude']%>},
		   map: map,
		   title: '<%=@single['venue']['name']%>'

		 });
        google.maps.event.addListener(marker, 'click', function() {
	window.location.href = this.url;
		});
   
    }

</script>
</div>
<div id="artists-show">
<h6>Artists Performing:</h6>
	<%@single['artists'].each do |artist| %>
	<h6><%=artist['name']%></h6>
		<div id="spotify-image-container">
		<% if artist['name'].delete(" ").match(/^[A-z]+$/) %>

		<% response = HTTParty.get("https://api.spotify.com/v1/search?q="+artist['name']+"&type=artist") %>
			<% filtered = response["artists"]["items"].select do |e| %>
				<%if e["images"] != [ ]%>
					<% e["images"][0]["url"] %>
					<%end%>
				<% end %>
				<% if filtered == [] %>
					<img src="https://collettejellisdesign.files.wordpress.com/2013/08/mwcharacters-silhouette-png.png?w=1020">
				<% elsif filtered %>
					<img src=<%= filtered[0]["images"][1]["url"] %>>
				<% end %>
	<% else %>
		<img src="https://collettejellisdesign.files.wordpress.com/2013/08/mwcharacters-silhouette-png.png?w=1020">

	<%end%>
				</div>
			<%end%>
			</ul>
		<div id="center">
	<a class="tiny button" href="<%=@single['ticket_url']%>" target="_blank">Buy Tickets</a>

 <%= form_for @event do |f| %>

<%=f.hidden_field  :venue_name, value: @single['venue']['name'] %>
<%=f.hidden_field :user_id, value: session[:user_id]%> 
<%=f.hidden_field :artist_name, value: @single['artists'][0]['name']%> 
<%=f.hidden_field :location, value: @single['venue']['city']%>
<%=f.hidden_field :date, value: @single['datetime']%>
<%=f.submit 'Save Event', class: "tiny success button"%>

<%end%>
</div>
</div>
<div id="other-users">
<h4>Other users who saved this event:</h4>
<% @see_users.each do |user|%>
<div id="other-avatars">
  <a href="/users/<%= user[0].id%>"> <%= image_tag user[0].avatar.url(:thumb) %></a>
</div>
<% end %>
</div>

<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GMAP_ID']%>&callback=initMap">
</script>
 </body>
</html>

