

<h1><%= @user.user_name %>'s Profile</h1>
<div class="avatar" style="margin:25px">

  <%= image_tag @user.avatar.url(:medium) %>

</div><!--avatar-->
<div class="userinfo" style="">

  <h3> <%= @user.user_name %></h3>
  <h3>  <%= @user.twitter %></h3>
  <h3>  <%=@user.about_me%></h3>  

</div><!--userinfo-->


<div class="events">
  <h1><%= @user.user_name %>'s Events</h1>




</div><!--events-->