<h1><%= @user.user_name %>'s Profile</h1>
<div class="avatar">

  <%= image_tag @user.avatar.url(:medium) %>

</div><!--avatar-->
<div class="userinfo">

  <h3>Username:</h3>
  <%= @user.user_name %>
  <h3>Twitter: </h3>  
  <%= @user.twitter %>
  <h3> About <%= @user.user_name %> </h3> 
  
  <%=@user.about_me%> 

</div><!--userinfo-->

<h1><%= @user.user_name %>'s Events</h1>
<div class="events_container">
  <% @user_events.each do |event|%>
    <div class="events">

    <span class="venue_name"><%=event.venue_name%></span> <%=event.location%><br>
      <span class="artist_name"><%=event.artist_name%></span> <%=event.date%>

    </div><!--events-->
  <%end%>

</div><!--events_container-->