<div class="back"> <img src="http://wallpaper.pickywallpapers.com/1920x1080/concert.jpg" alt=""> </div>

<p style="color:red"> <strong><%= flash[:error]%></strong> </p>

<ul class="accordion" data-accordion>
  <li class="accordion-navigation">
    <a href="#panel1a">Login</a>
    <div id="panel1a" class="content active">
      <%= form_tag(sessions_path) do %>
        <%= text_field_tag :user_name, nil, placeholder: "Enter Username"%> <br>
        <%= password_field_tag :password, nil, placeholder: "Password"%>
        <%= button_tag "Login"%>
      <% end %>
    </div>
  </li>
  <li class="accordion-navigation">
    <a href="#panel2a">Sign Up</a>
    <div id="panel2a" class="content">
      <% if @user.errors.any? %>
        <div id="error-explanation">
          <p><%= pluralize(@user.errors.count, "error")%> prohibited this user from being saved:</p>
          <ul>
          <% @user.errors.full_messages.each do |message| %>
          <li style="color: red"><%= message %></li>
          <% end %>
        </ul>
        </div>
        <% end %>
        <%= form_for @user, html: { multipart: true } do |f| %>
            
            Enter Username:
            <%= f.text_field :user_name, placeholder: 'username' %>

            Twitter handle:  
            <%= f.text_field :twitter, placeholder: 'Twitter (optional)'%>  
            Enter Password


            <%= f.password_field :password, placeholder: 'Password' %></br>

            Confirm Password
            <%= f.password_field :password_confirmation, placeholder: 'Password Confirmation' %>

            Tell us about yourself:
            <%= f.text_area :about_me, size: "30x6" %>

            Upload profile photo here:
            <%= f.label :avatar%>
            <%= f.file_field :avatar, placeholder: "thumb" %>

            <%= f.submit "create" %>

        <% end %>

    </div>
  </li>
</ul>










<script>
  $(document).foundation({
    accordion: {
      callback : function (accordion) {
        console.log(accordion);
      }
    }
  });
</script>