<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0; }
      #map { height: 100vh; width: 50vw; position: relative; float: left;}
    </style>
  </head>

  <body>
	 <div class="wrapper">
    <div id="map"></div>

    <div class="event-list">
      <h1>Events Happening Nearby</h1>
        <% counter=0%>
        <% @events.each do |event| %>
        <a href="/events/show/<%=event['venue']['city']%>/<%=event['venue']['region']%>/<%=event['id']%>">
          <div class = "events-container hover<%= counter%>">
          <% date = event['datetime'].gsub!("T", " ")
          the_date = DateTime.parse(date).strftime('%A %B %d, %I:%M %p %Y') %>
          <h4><%=event['venue']['name']%> , <%=event['venue']['region']%></h4> 
          <h5><%= the_date%></h5>
          <ul class="inline-list">
          <li>Performing:</li>
          <%event['artists'].each do |artist| %>
          <li><em><%=artist['name']%> </em> </li>
          <%end%>
          </ul>
        </div></a>
        <% counter += 1%>
      <%end%>

    </div><!--event-list-->

<%= render 'maps'%>

    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GMAP_ID']%>&callback=initMap">
    </script>
  </div>
  </body>
</html>