<!DOCTYPE html>
<html>
  <head>
  
  </head>

  <body>
	 <div class="wrapper">
    <div id="map"></div>

    <div class="event-list">
         <h1 id="center">Events Happening Nearby</h1>
        <% counter=0%>
        <% @events.each do |event| %>
       
          <div class = "event-wrapper">
          	 <a href="/events/show/<%=event['venue']['city']%>/<%=event['venue']['region']%>/<%=event['id']%>">
          <% date = event['datetime'].gsub!("T", " ")
          the_date = DateTime.parse(date).strftime('%A %B %d, %I:%M %p %Y') %>
          <h4><%=event['venue']['name']%> , <%=event['venue']['region']%></h4> 
          <h5><%= the_date%></h5>
          <ul class="inline-list">
          <li>Performing:</li>
          <%event['artists'].each do |artist| %>
          <li><em><%=artist['name']%> </em> </li>
          <%end%>
          </ul>
        </a>
        </div>
        <% counter += 1%>
      <%end%>

    </div><!--event-list-->

<%= render 'maps'%>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GMAP_ID']%>&callback=initMap">
</script>
  </div>
  </body>
</html>